<div class="card border shadow-sm mb-3">
  <div class="row g-0">
    <div class="col-12">
      <img
        src="https://media.istockphoto.com/id/1437629749/photo/land-plot-in-aerial-view-in-chiang-mai-of-thailand.jpg?s=612x612&w=0&k=20&c=07y-L9_WJwFGmvvhrZULYbfTfDtUPHnxJhbxWPTiqYg="
        class="img-fluid"
        alt="Property"
        style="object-fit: cover; height: 100%"
      />
    </div>
    <div class="col-12">
      <div class="card-body text-center py-2 px-3">
        <h6 class="card-title mb-1 fw-bold">Land in Qaaqour</h6>
        <p class="card-text small text-primary mb-1">$100,000.00</p>

        <a class="btn btn-outline-primary btn-sm rounded-pill px-2"> View </a>
      </div>
    </div>
  </div>
</div>
