<div class="card border-0 shadow-sm mb-3">
  <div class="card-body py-3 px-4">
    <div class="d-flex justify-content-between align-items-centers mb-2">
      <div class="d-flex align-items-center">
        <img
          src="https://content.leaders.slq.qld.gov.au/sites/default/files/styles/square_400x400/public/2022-02/RayWhite.png?itok=Jpa4t8ry"
          alt="Agency Logo"
          class="me-3 rounded-circle"
          style="width: 40px; height: 40px; object-fit: cover"
        />
        <div>
          <h6 class="mb-0 fw-bold">Joe Agency</h6>
          <p class="small text-muted mb-0">Broumana</p>
        </div>
      </div>
      <div>
        <a href="tel:70285659" class="btn btn-success btn-sm">
          <i class="bi bi-telephone-fill"></i>
        </a>
      </div>
    </div>
    <p class="small mt-4">
      Best Real Estate agency in lebanon. At our agency the customer invests in
      future lands and potential homes...
    </p>
  </div>
</div>
